@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --purple: #9B51E0; 
    --darkpurple: #723ba6; 
    --inter: 'Inter', sans-serif;
  }


#login-form {
    height: 50vh;
    width: 50%;
}

h2 {
    font-weight: 600;
}

.btn-styles {
    background-color: var(--darkpurple);
    color: white;
}

